body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.family {
  text-align: center;
}

img {
  height: 300px;
  object-fit: cover;
  object-position: bottom;
}

/* html {
  background-color: #84a98c;
} */

.dark {
  background-color: #344e41;
  color: #e1e4dd;
}
.light {
  background-color: #e1e4dd;
  color: #344e41;
}

.dButton {
  color: #e1e4dd;
}
.dButton:visited {
  color: #e1e4dd;
}
.lButton {
  color: #344e41;
}
.lButton:visited {
  color: #344e41;
}
